files/v6.0.1/flows.json
[
    {
        "id": "97655527.ccdc28",
        "type": "tab",
        "label": "ProjeQtOr Telegram Bot",
        "disabled": false,
        "info": ""
    },
    {
        "id": "98be165b.b25db8",
        "type": "telegram command",
        "z": "97655527.ccdc28",
        "name": "",
        "command": "/start",
        "bot": "227e9413.19a8bc",
        "strict": false,
        "hasresponse": true,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "9ffa404a.d5444",
                "3d86a0a.34a6c6",
                "51a113d6.07d36c"
            ],
            []
        ]
    },
    {
        "id": "9ffa404a.d5444",
        "type": "http request",
        "z": "97655527.ccdc28",
        "name": "telegram_bot.php",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "PROJEQTOR-URL/tool/telegram_bot.php",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 770,
        "y": 200,
        "wires": [
            [
                "30c3b437.e0ea3c"
            ]
        ]
    },
    {
        "id": "3d86a0a.34a6c6",
        "type": "function",
        "z": "97655527.ccdc28",
        "name": "Typing",
        "func": "msg.payload.type = 'action';\nmsg.payload.content = \"typing\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 260,
        "wires": [
            [
                "30c3b437.e0ea3c"
            ]
        ]
    },
    {
        "id": "28931d6a.3a5f52",
        "type": "http request",
        "z": "97655527.ccdc28",
        "name": "ticket_create.php",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "PROJEQTOR-URL/tool/telegram_bot_V6_0_1.php",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1030,
        "y": 440,
        "wires": [
            [
                "927acced.4d53e",
                "297738f7.c5c818"
            ]
        ]
    },
    {
        "id": "30c3b437.e0ea3c",
        "type": "telegram sender",
        "z": "97655527.ccdc28",
        "name": "",
        "bot": "227e9413.19a8bc",
        "x": 1490,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "459262bc.3ffd1c",
        "type": "telegram event",
        "z": "97655527.ccdc28",
        "name": "",
        "bot": "227e9413.19a8bc",
        "event": "callback_query",
        "autoanswer": false,
        "x": 360,
        "y": 420,
        "wires": [
            [
                "411d116.d998cf",
                "ad8a2ad6.d4d068",
                "246f1b1c.c4f954"
            ]
        ]
    },
    {
        "id": "781bfc1b.1c0454",
        "type": "telegram receiver",
        "z": "97655527.ccdc28",
        "name": "",
        "bot": "227e9413.19a8bc",
        "saveDataDir": "",
        "x": 370,
        "y": 640,
        "wires": [
            [
                "4c25f6e4.0cc738",
                "c2dab5ee.066f78",
                "246f1b1c.c4f954"
            ],
            []
        ]
    },
    {
        "id": "4c25f6e4.0cc738",
        "type": "debug",
        "z": "97655527.ccdc28",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 350,
        "y": 580,
        "wires": []
    },
    {
        "id": "c2dab5ee.066f78",
        "type": "function",
        "z": "97655527.ccdc28",
        "name": "Tri commandes",
        "func": "msg2 = null\n\nmsg.topic = msg.payload.chatId\n\nif (msg.payload.content[0] == \"/\") {\n    msg.payload[\"action\"] = msg.payload.content.split(\" \")[0].slice(1)\n} else {\n    if (msg.payload.type == \"message\") {\n        msg.payload[\"action\"] = \"reply\"\n    } else {\n        msg.payload[\"action\"] = \"file\"\n        \n        msg2 = msg\n        msg2.payload[\"originalMessage\"] = msg.originalMessage\n        msg = null\n    }\n}\nreturn [msg, msg2];",
        "outputs": 2,
        "noerr": 0,
        "x": 620,
        "y": 660,
        "wires": [
            [
                "28931d6a.3a5f52"
            ],
            [
                "fcf9a51.d106158"
            ]
        ]
    },
    {
        "id": "411d116.d998cf",
        "type": "function",
        "z": "97655527.ccdc28",
        "name": "Action: callback",
        "func": "msg.payload[\"action\"] = \"callback\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 420,
        "wires": [
            [
                "28931d6a.3a5f52"
            ]
        ]
    },
    {
        "id": "ad8a2ad6.d4d068",
        "type": "debug",
        "z": "97655527.ccdc28",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 350,
        "y": 360,
        "wires": []
    },
    {
        "id": "246f1b1c.c4f954",
        "type": "function",
        "z": "97655527.ccdc28",
        "name": "Typing",
        "func": "msg.payload.type = 'action';\nmsg.payload.content = \"typing\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 520,
        "wires": [
            [
                "c07a4293.7df5"
            ]
        ]
    },
    {
        "id": "c07a4293.7df5",
        "type": "trigger",
        "z": "97655527.ccdc28",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 1280,
        "y": 540,
        "wires": [
            [
                "30c3b437.e0ea3c"
            ]
        ]
    },
    {
        "id": "927acced.4d53e",
        "type": "function",
        "z": "97655527.ccdc28",
        "name": "Reset typing",
        "func": "if (msg.payload === \"\") {\n    msg.reset = true;\n    return msg;\n} else {\n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1070,
        "y": 480,
        "wires": [
            [
                "c07a4293.7df5"
            ]
        ]
    },
    {
        "id": "297738f7.c5c818",
        "type": "debug",
        "z": "97655527.ccdc28",
        "name": "Script output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1190,
        "y": 400,
        "wires": []
    },
    {
        "id": "51a113d6.07d36c",
        "type": "debug",
        "z": "97655527.ccdc28",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 560,
        "y": 160,
        "wires": []
    },
    {
        "id": "864cc7fd.af5478",
        "type": "telegram event",
        "z": "97655527.ccdc28",
        "name": "",
        "bot": "227e9413.19a8bc",
        "event": "inline_query",
        "autoanswer": false,
        "x": 350,
        "y": 940,
        "wires": [
            [
                "c2adf22a.bdedb",
                "e5121144.00fb9"
            ]
        ]
    },
    {
        "id": "c2adf22a.bdedb",
        "type": "function",
        "z": "97655527.ccdc28",
        "name": "Action: inlinequery",
        "func": "msg.payload[\"action\"] = \"inlinequery\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 940,
        "wires": [
            [
                "28931d6a.3a5f52"
            ]
        ]
    },
    {
        "id": "e5121144.00fb9",
        "type": "debug",
        "z": "97655527.ccdc28",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 350,
        "y": 880,
        "wires": []
    },
    {
        "id": "fcf9a51.d106158",
        "type": "batch",
        "z": "97655527.ccdc28",
        "name": "",
        "mode": "interval",
        "count": 10,
        "overlap": 0,
        "interval": "3",
        "allowEmptySequence": false,
        "topics": [],
        "x": 350,
        "y": 740,
        "wires": [
            [
                "b4327ebe.2acf"
            ]
        ]
    },
    {
        "id": "b4327ebe.2acf",
        "type": "sort",
        "z": "97655527.ccdc28",
        "name": "",
        "order": "ascending",
        "as_num": true,
        "target": "",
        "targetType": "seq",
        "msgKey": "",
        "msgKeyType": "elem",
        "seqKey": "payload[\"messageId\"]",
        "seqKeyType": "msg",
        "x": 470,
        "y": 740,
        "wires": [
            [
                "1cdad34f.31fa0d"
            ]
        ]
    },
    {
        "id": "1cdad34f.31fa0d",
        "type": "function",
        "z": "97655527.ccdc28",
        "name": "Set filename",
        "func": "if (msg.payload) {\n    var filename = msg.payload[\"caption\"]\n    if (filename !== undefined) {\n        flow.set(`filename/${msg.topic}`, filename)\n    } else {\n        var caption = flow.get(`filename/${msg.topic}`)\n        if (caption) {\n            msg.payload[\"caption\"] = caption\n        }\n    }\n    \n    msg.payload[\"seq_index\"] = msg.parts.count - msg.parts.index - 1\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 740,
        "wires": [
            [
                "1eafe96d.6f71e7",
                "abecfb53.879398"
            ]
        ]
    },
    {
        "id": "1eafe96d.6f71e7",
        "type": "delay",
        "z": "97655527.ccdc28",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 810,
        "y": 740,
        "wires": [
            [
                "28931d6a.3a5f52"
            ]
        ]
    },
    {
        "id": "abecfb53.879398",
        "type": "trigger",
        "z": "97655527.ccdc28",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "250",
        "extend": true,
        "units": "ms",
        "reset": "",
        "bytopic": "topic",
        "name": "",
        "x": 580,
        "y": 820,
        "wires": [
            [
                "9611ea47.0f33f8"
            ]
        ]
    },
    {
        "id": "9611ea47.0f33f8",
        "type": "function",
        "z": "97655527.ccdc28",
        "name": "Reset filename",
        "func": "flow.set(`filename/${msg.topic}`, null)",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "227e9413.19a8bc",
        "type": "telegram bot",
        "z": "",
        "botname": "HERDAC",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]
