files/v4.1/flows.json
[
    {
        "id": "6612b547.c820ac",
        "type": "tab",
        "label": "ProjeQtOr Telegram Bot",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8d950809.a3d128",
        "type": "telegram command",
        "z": "6612b547.c820ac",
        "name": "",
        "command": "/start",
        "bot": "",
        "strict": false,
        "hasresponse": true,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "b99468a4.6daba8",
                "cd78472.a1265b8",
                "1135421c.0829de"
            ],
            []
        ]
    },
    {
        "id": "b99468a4.6daba8",
        "type": "http request",
        "z": "6612b547.c820ac",
        "name": "telegram_bot.php",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "PROJEQTOR-URL/tool/telegram_bot.php",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 770,
        "y": 200,
        "wires": [
            [
                "377aaac6.180876"
            ]
        ]
    },
    {
        "id": "cd78472.a1265b8",
        "type": "function",
        "z": "6612b547.c820ac",
        "name": "Typing",
        "func": "msg.payload.type = 'action';\nmsg.payload.content = \"typing\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 260,
        "wires": [
            [
                "377aaac6.180876"
            ]
        ]
    },
    {
        "id": "590ac5d9.39dc8c",
        "type": "http request",
        "z": "6612b547.c820ac",
        "name": "ticket_create.php",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "PROJEQTOR-URL/tool/ticket_create_V4_1.php",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1030,
        "y": 440,
        "wires": [
            [
                "c58dc309.d7eff",
                "d93420ef.48b88"
            ]
        ]
    },
    {
        "id": "377aaac6.180876",
        "type": "telegram sender",
        "z": "6612b547.c820ac",
        "name": "",
        "bot": "",
        "x": 1490,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "ce70b540.336a18",
        "type": "telegram event",
        "z": "6612b547.c820ac",
        "name": "",
        "bot": "",
        "event": "callback_query",
        "autoanswer": false,
        "x": 360,
        "y": 420,
        "wires": [
            [
                "debf9a28.f4e7a8",
                "2aed82bb.3177ee",
                "2a6a1fbd.468ff"
            ]
        ]
    },
    {
        "id": "36d2d5a0.7a9a7a",
        "type": "telegram receiver",
        "z": "6612b547.c820ac",
        "name": "",
        "bot": "",
        "saveDataDir": "",
        "filterCommands": true,
        "x": 370,
        "y": 640,
        "wires": [
            [
                "63aa3d36.ac9924",
                "a97c11f8.602bd",
                "2a6a1fbd.468ff"
            ],
            []
        ]
    },
    {
        "id": "63aa3d36.ac9924",
        "type": "debug",
        "z": "6612b547.c820ac",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 350,
        "y": 580,
        "wires": []
    },
    {
        "id": "a97c11f8.602bd",
        "type": "function",
        "z": "6612b547.c820ac",
        "name": "Tri commandes",
        "func": "msg2 = null\n\nmsg.topic = msg.payload.chatId\n\nif (msg.payload.content[0] == \"/\") {\n    msg.payload[\"action\"] = msg.payload.content.split(\" \")[0].slice(1)\n} else {\n    if (msg.payload.type == \"message\") {\n        msg.payload[\"action\"] = \"reply\"\n    } else {\n        msg.payload[\"action\"] = \"file\"\n        \n        msg2 = msg\n        msg2.payload[\"originalMessage\"] = msg.originalMessage\n        msg = null\n    }\n}\nreturn [msg, msg2];",
        "outputs": 2,
        "noerr": 0,
        "x": 620,
        "y": 660,
        "wires": [
            [
                "590ac5d9.39dc8c"
            ],
            [
                "bd2bf60f.c46d58"
            ]
        ]
    },
    {
        "id": "debf9a28.f4e7a8",
        "type": "function",
        "z": "6612b547.c820ac",
        "name": "Action: callback",
        "func": "msg.payload[\"action\"] = \"callback\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 420,
        "wires": [
            [
                "590ac5d9.39dc8c"
            ]
        ]
    },
    {
        "id": "2aed82bb.3177ee",
        "type": "debug",
        "z": "6612b547.c820ac",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 350,
        "y": 360,
        "wires": []
    },
    {
        "id": "2a6a1fbd.468ff",
        "type": "function",
        "z": "6612b547.c820ac",
        "name": "Typing",
        "func": "msg.payload.type = 'action';\nmsg.payload.content = \"typing\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 520,
        "wires": [
            [
                "6b2942d7.f295ec"
            ]
        ]
    },
    {
        "id": "6b2942d7.f295ec",
        "type": "trigger",
        "z": "6612b547.c820ac",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 1280,
        "y": 540,
        "wires": [
            [
                "377aaac6.180876"
            ]
        ]
    },
    {
        "id": "c58dc309.d7eff",
        "type": "function",
        "z": "6612b547.c820ac",
        "name": "Reset typing",
        "func": "if (msg.payload === \"\") {\n    msg.reset = true;\n    return msg;\n} else {\n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1070,
        "y": 480,
        "wires": [
            [
                "6b2942d7.f295ec"
            ]
        ]
    },
    {
        "id": "d93420ef.48b88",
        "type": "debug",
        "z": "6612b547.c820ac",
        "name": "Script output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1200,
        "y": 400,
        "wires": []
    },
    {
        "id": "1135421c.0829de",
        "type": "debug",
        "z": "6612b547.c820ac",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 560,
        "y": 160,
        "wires": []
    },
    {
        "id": "6de30b4c.563864",
        "type": "telegram event",
        "z": "6612b547.c820ac",
        "name": "",
        "bot": "",
        "event": "inline_query",
        "autoanswer": false,
        "x": 350,
        "y": 940,
        "wires": [
            [
                "5df1bc42.f1a504",
                "e71adbae.29ce98"
            ]
        ]
    },
    {
        "id": "5df1bc42.f1a504",
        "type": "function",
        "z": "6612b547.c820ac",
        "name": "Action: inlinequery",
        "func": "msg.payload[\"action\"] = \"inlinequery\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 940,
        "wires": [
            [
                "590ac5d9.39dc8c"
            ]
        ]
    },
    {
        "id": "e71adbae.29ce98",
        "type": "debug",
        "z": "6612b547.c820ac",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 350,
        "y": 880,
        "wires": []
    },
    {
        "id": "bd2bf60f.c46d58",
        "type": "batch",
        "z": "6612b547.c820ac",
        "name": "",
        "mode": "interval",
        "count": 10,
        "overlap": 0,
        "interval": "3",
        "allowEmptySequence": false,
        "topics": [],
        "x": 350,
        "y": 740,
        "wires": [
            [
                "b186e3d7.be3fa"
            ]
        ]
    },
    {
        "id": "b186e3d7.be3fa",
        "type": "sort",
        "z": "6612b547.c820ac",
        "name": "",
        "order": "ascending",
        "as_num": true,
        "target": "",
        "targetType": "seq",
        "msgKey": "",
        "msgKeyType": "elem",
        "seqKey": "payload[\"messageId\"]",
        "seqKeyType": "msg",
        "x": 470,
        "y": 740,
        "wires": [
            [
                "574688b8.7fef98"
            ]
        ]
    },
    {
        "id": "574688b8.7fef98",
        "type": "function",
        "z": "6612b547.c820ac",
        "name": "Set filename",
        "func": "if (msg.payload) {\n    var filename = msg.payload[\"caption\"]\n    if (filename !== undefined) {\n        flow.set(`filename/${msg.topic}`, filename)\n    } else {\n        var caption = flow.get(`filename/${msg.topic}`)\n        if (caption) {\n            msg.payload[\"caption\"] = caption\n        }\n    }\n    \n    msg.payload[\"seq_index\"] = msg.parts.count - msg.parts.index - 1\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 740,
        "wires": [
            [
                "e1d6740e.4b01b8",
                "ae622c32.36b5c"
            ]
        ]
    },
    {
        "id": "e1d6740e.4b01b8",
        "type": "delay",
        "z": "6612b547.c820ac",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 810,
        "y": 740,
        "wires": [
            [
                "590ac5d9.39dc8c"
            ]
        ]
    },
    {
        "id": "ae622c32.36b5c",
        "type": "trigger",
        "z": "6612b547.c820ac",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "250",
        "extend": true,
        "units": "ms",
        "reset": "",
        "bytopic": "topic",
        "name": "",
        "x": 580,
        "y": 820,
        "wires": [
            [
                "57f1ae31.33b24"
            ]
        ]
    },
    {
        "id": "57f1ae31.33b24",
        "type": "function",
        "z": "6612b547.c820ac",
        "name": "Reset filename",
        "func": "flow.set(`filename/${msg.topic}`, null)",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 820,
        "wires": [
            []
        ]
    }
]