files/v1.1/flows.json
[
    {
        "id": "de26353e.de38e8",
        "type": "tab",
        "label": "ProjeQtOr Telegram Bot",
        "disabled": false,
        "info": ""
    },
    {
        "id": "154962f0.fcfc0d",
        "type": "telegram command",
        "z": "de26353e.de38e8",
        "name": "",
        "command": "/start",
        "bot": "",
        "strict": false,
        "hasresponse": true,
        "x": 290,
        "y": 200,
        "wires": [
            [
                "c33a8c10.e8424",
                "bcedb2d5.7f80c"
            ],
            []
        ]
    },
    {
        "id": "c33a8c10.e8424",
        "type": "http request",
        "z": "de26353e.de38e8",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "PROJEQTOR-URL/tool/telegram_bot.php",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 750,
        "y": 200,
        "wires": [
            [
                "df6da278.7dd11"
            ]
        ]
    },
    {
        "id": "bcedb2d5.7f80c",
        "type": "function",
        "z": "de26353e.de38e8",
        "name": "",
        "func": "msg.payload.type = 'action';\nmsg.payload.content = \"typing\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 260,
        "wires": [
            [
                "df6da278.7dd11"
            ]
        ]
    },
    {
        "id": "5faefe41.944f8",
        "type": "http request",
        "z": "de26353e.de38e8",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "PROJEQTOR-URL/tool/ticket_create_V1_1.php",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 750,
        "y": 440,
        "wires": [
            [
                "f3ebf894.8aa9e8",
                "4986f238.affcec"
            ]
        ]
    },
    {
        "id": "df6da278.7dd11",
        "type": "telegram sender",
        "z": "de26353e.de38e8",
        "name": "",
        "bot": "",
        "x": 1250,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "8deb6573.ed5d58",
        "type": "telegram event",
        "z": "de26353e.de38e8",
        "name": "",
        "bot": "",
        "event": "callback_query",
        "autoanswer": false,
        "x": 320,
        "y": 440,
        "wires": [
            [
                "e69bc3af.6bb95",
                "4b5e43f0.0c7b4c",
                "ee117487.bb32e8"
            ]
        ]
    },
    {
        "id": "5546d9bc.72d618",
        "type": "telegram receiver",
        "z": "de26353e.de38e8",
        "name": "",
        "bot": "",
        "saveDataDir": "",
        "filterCommands": true,
        "x": 330,
        "y": 540,
        "wires": [
            [
                "6b5cc368.76cb0c",
                "5a6e32c9.8dffcc",
                "ee117487.bb32e8"
            ],
            []
        ]
    },
    {
        "id": "6b5cc368.76cb0c",
        "type": "debug",
        "z": "de26353e.de38e8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 550,
        "y": 580,
        "wires": []
    },
    {
        "id": "5a6e32c9.8dffcc",
        "type": "function",
        "z": "de26353e.de38e8",
        "name": "",
        "func": "if (msg.payload.content[0] == \"/\") {\n    msg.payload[\"action\"] = msg.payload.content.split(\" \")[0].slice(1)\n} else {\n    msg.payload[\"action\"] = \"reply\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 540,
        "wires": [
            [
                "5faefe41.944f8"
            ]
        ]
    },
    {
        "id": "e69bc3af.6bb95",
        "type": "function",
        "z": "de26353e.de38e8",
        "name": "",
        "func": "msg.payload[\"action\"] = \"callback\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 440,
        "wires": [
            [
                "5faefe41.944f8"
            ]
        ]
    },
    {
        "id": "4b5e43f0.0c7b4c",
        "type": "debug",
        "z": "de26353e.de38e8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 540,
        "y": 400,
        "wires": []
    },
    {
        "id": "ee117487.bb32e8",
        "type": "function",
        "z": "de26353e.de38e8",
        "name": "",
        "func": "msg.payload.type = 'action';\nmsg.payload.content = \"typing\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 480,
        "wires": [
            [
                "a191e253.1d79d"
            ]
        ]
    },
    {
        "id": "a191e253.1d79d",
        "type": "trigger",
        "z": "de26353e.de38e8",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 1000,
        "y": 580,
        "wires": [
            [
                "df6da278.7dd11"
            ]
        ]
    },
    {
        "id": "f3ebf894.8aa9e8",
        "type": "function",
        "z": "de26353e.de38e8",
        "name": "",
        "func": "if (msg.payload === \"\") {\n    msg.reset = true;\n    return msg;\n} else {\n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 480,
        "wires": [
            [
                "a191e253.1d79d"
            ]
        ]
    },
    {
        "id": "4986f238.affcec",
        "type": "debug",
        "z": "de26353e.de38e8",
        "name": "Script output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 940,
        "y": 400,
        "wires": []
    }
]