files/v1.0/flows.json
[
    {
        "id": "fdf4ca77.a71218",
        "type": "tab",
        "label": "ProjeQtOr Telegram Bot",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7359e4a5.8d69fc",
        "type": "telegram command",
        "z": "fdf4ca77.a71218",
        "name": "",
        "command": "/start",
        "bot": "",
        "strict": false,
        "hasresponse": true,
        "x": 290,
        "y": 200,
        "wires": [
            [
                "536011bc.47903",
                "8efb3b5d.f6c158"
            ],
            []
        ]
    },
    {
        "id": "536011bc.47903",
        "type": "http request",
        "z": "fdf4ca77.a71218",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "PROJEQTOR-URL/tool/telegram_bot.php",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 750,
        "y": 200,
        "wires": [
            [
                "8f192be1.123ed8"
            ]
        ]
    },
    {
        "id": "8efb3b5d.f6c158",
        "type": "function",
        "z": "fdf4ca77.a71218",
        "name": "",
        "func": "msg.payload.type = 'action';\nmsg.payload.content = \"typing\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 260,
        "wires": [
            [
                "8f192be1.123ed8"
            ]
        ]
    },
    {
        "id": "59739d8.3514b64",
        "type": "http request",
        "z": "fdf4ca77.a71218",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "PROJEQTOR-URL/tool/ticket_create_V1_0.php",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 750,
        "y": 440,
        "wires": [
            [
                "6cb9e41a.cbe0fc",
                "16e121d7.ae955e"
            ]
        ]
    },
    {
        "id": "8f192be1.123ed8",
        "type": "telegram sender",
        "z": "fdf4ca77.a71218",
        "name": "",
        "bot": "",
        "x": 1250,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "e279f0a.456911",
        "type": "telegram event",
        "z": "fdf4ca77.a71218",
        "name": "",
        "bot": "",
        "event": "callback_query",
        "autoanswer": false,
        "x": 320,
        "y": 440,
        "wires": [
            [
                "719af7bd.abeba8",
                "adc21eed.e4f61",
                "c95ace2a.3b382"
            ]
        ]
    },
    {
        "id": "c650fe8f.15c4f",
        "type": "telegram receiver",
        "z": "fdf4ca77.a71218",
        "name": "",
        "bot": "",
        "saveDataDir": "",
        "filterCommands": true,
        "x": 330,
        "y": 540,
        "wires": [
            [
                "585bb9c.dff6648",
                "aa91d8d2.df6678",
                "c95ace2a.3b382"
            ],
            []
        ]
    },
    {
        "id": "585bb9c.dff6648",
        "type": "debug",
        "z": "fdf4ca77.a71218",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 550,
        "y": 580,
        "wires": []
    },
    {
        "id": "aa91d8d2.df6678",
        "type": "function",
        "z": "fdf4ca77.a71218",
        "name": "",
        "func": "if (msg.payload.content[0] == \"/\") {\n    msg.payload[\"action\"] = msg.payload.content.split(\" \")[0].slice(1)\n} else {\n    msg.payload[\"action\"] = \"reply\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 540,
        "wires": [
            [
                "59739d8.3514b64"
            ]
        ]
    },
    {
        "id": "719af7bd.abeba8",
        "type": "function",
        "z": "fdf4ca77.a71218",
        "name": "",
        "func": "msg.payload[\"action\"] = \"callback\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 440,
        "wires": [
            [
                "59739d8.3514b64"
            ]
        ]
    },
    {
        "id": "adc21eed.e4f61",
        "type": "debug",
        "z": "fdf4ca77.a71218",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 540,
        "y": 400,
        "wires": []
    },
    {
        "id": "c95ace2a.3b382",
        "type": "function",
        "z": "fdf4ca77.a71218",
        "name": "",
        "func": "msg.payload.type = 'action';\nmsg.payload.content = \"typing\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 480,
        "wires": [
            [
                "913a0058.57a4f"
            ]
        ]
    },
    {
        "id": "5fe40077.99e19",
        "type": "telegram event",
        "z": "fdf4ca77.a71218",
        "name": "",
        "bot": "",
        "event": "edited_message",
        "autoanswer": false,
        "x": 320,
        "y": 680,
        "wires": [
            [
                "4a51abba.940ba4",
                "f09f99ca.63d1f8"
            ]
        ]
    },
    {
        "id": "4a51abba.940ba4",
        "type": "debug",
        "z": "fdf4ca77.a71218",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 540,
        "y": 680,
        "wires": []
    },
    {
        "id": "f09f99ca.63d1f8",
        "type": "function",
        "z": "fdf4ca77.a71218",
        "name": "",
        "func": "msg.reset = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "913a0058.57a4f",
        "type": "trigger",
        "z": "fdf4ca77.a71218",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 1000,
        "y": 580,
        "wires": [
            [
                "8f192be1.123ed8"
            ]
        ]
    },
    {
        "id": "6cb9e41a.cbe0fc",
        "type": "function",
        "z": "fdf4ca77.a71218",
        "name": "",
        "func": "if (msg.payload === \"\") {\n    msg.reset = true;\n    return msg;\n} else {\n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 480,
        "wires": [
            [
                "913a0058.57a4f"
            ]
        ]
    },
    {
        "id": "16e121d7.ae955e",
        "type": "debug",
        "z": "fdf4ca77.a71218",
        "name": "Script output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 940,
        "y": 400,
        "wires": []
    }
]
